

body{
  background: linear-gradient(-90deg, #001103 0%, #011A1A 50%, #021616 100%);
  background-size: cover;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  flex-direction: column;
}


h1 {
    text-align: center;
    margin-top: 80px;
    color: white;
}



.line-box {
    display: flex;
    justify-content: center;

}

.line {
    background-color: greenyellow;
    height: 6px;
    width: 1440px;
    border-radius: 50px;
}

.svg svg{
    width: 100%;
    height: 25%;
}

.persone1 {
    margin: 40px;
    margin-left: 70px;
    width: 10px;
    width: 20px;
    
}

.woman {
    width: 150px;  
    position: relative;
    right: 80px;
    display: flex;
    justify-content: center;
    top: 20px;
    left: 2px;
}




 .persone-1  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 80px;
   

 }
 .border-1{
    position: relative;
    width: 100px;
    height: 150px;
    border: solid aqua;
    width: 1000px;
    border-radius: 30px;
    margin-top: 100px;
    bottom: 40px;
    left: 40px;
    color: white;
    text-align: center;
 }

.persone2 {
    margin: 40px;
    margin-left: 1150px;
    
 }

 .persone-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 80px;
 }

 .man {
    width: 150px;  
    position: relative;
    right: 80px;
    display: flex;
    justify-content: center;
    top: 20px;
    left: 2px;
    top: 30px;
}

.border-2{
    position: relative;
    width: 100px;
    height: 150px;
    border: solid aqua;
    width: 1000px;
    border-radius: 30px;
    bottom: 170px;
    left: 120px;
    color: white;
    text-align: center;
 }

 .foret {
   width: 100%;
   position: relative;
   top: 100%;
 }

.app{
    position: relative;
    display: inline-block;
}
.app img{
    display: block;
    width: 100%;
    height: 600px;
}
.app .text{
    position: absolute;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.demande {
    background-color: #011712;
    border: 1px solid #36E4DA;
    border-radius: 50px;
    padding: 10px 80px;
    color: white;
    text-align: center;
}
.demande:hover {
    background-color: #021616;
    padding: 12px 85px;
}

.app .text h5{
    margin-bottom: 3px;
}

input[type=submit] {
   border-radius: 10px;
   position: relative;
   left: 280px;
   margin-top: 50px;
   padding: 10px;
   background: none;
   border: 1px solid aqua;
   color: white;
}


@media (max-width: 1100px) {
   

    .persone-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
    }
    .persone-2{
       position: relative;
        margin: 0;
        width: 70%;
    }
    .border-1{
        width: 70%;
    }

    .man{
        position: relative;
        left: 200px;
    }

    .border-2{
        position: relative;
        width: 70%;
        top: 100px;
        margin-bottom: 200px;
    }
    .persone1 {
    margin: 0;
    display: flex;
    flex-direction: column;
     justify-content: center;
}
    .persone2 {
    margin: 0;
    display: flex;
    flex-direction: column;
}
    input[type=submit]{
        left: 0;
    }
}

