*{
    margin: 0;
    padding: 0;
}

body{
  background: linear-gradient(-90deg, #001103 0%, #011A1A 50%, #021616 100%);
  background-size: cover;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  flex-direction: column;
}


.title{
    margin-top: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
 color: white;
 font-weight: bold;
}
.line-box{
    display: flex;
    justify-content: center;
}
.line{
    background-color: greenyellow;
    height: 6px;
    width: 1440px;
    border-radius: 50px;
}

#Projects{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    text-align: center;
}
.firstbar{
    display: flex;

    justify-content: center;
}
.pic svg{
    width: 510px;
    height: 300px;
    
}
.text{
    margin-left:0px ;
}
.resycle{
    width: 600px;
    height: 300px;
    background-color: #074A33;
    border-radius: 0px 15px 15px 0px;
    display: flex;
}
.secondbar{
   display: flex;
    justify-content: center;
}
.thirdbar{
    display: flex;
    justify-content: center;
}
h3{
    color: white;
}
.texts1 p{
    margin-top: 65px;
    
}
.texts2 p{
    margin-top: 65px;
}
.lone1{
    height: 1px;
    width: 300px;
    background-color: black;
    margin-top: 43px;
}
.lone2{
    height: 1px;
    width: 300px;
    background-color: black;
}

.resycle:hover{
    box-shadow:5px 5px #18b17b;
}



.filter-container{
    text-align: center;
    margin-top: 30px;
}