*{
    margin: 0;
    padding: 0;
}

body{
  background: linear-gradient(-90deg, #001103 0%, #011A1A 50%, #021616 100%);
  background-size: cover;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  flex-direction: column;
}
.title{
    margin-top: 150px;
    margin-bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
 color: white;
 font-weight: bold;
}
.line-box{
    display: flex;
    justify-content: center;
}
.line{
    background-color: greenyellow;
    height: 6px;
    width: 1440px;
    border-radius: 50px;
}

#Projects{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    text-align: center;
}
.firstbar{
    display: flex;

    justify-content: center;
}
.pic svg{
    width: 100%;
    height: 300px;
    
}
.text{
    margin-left:0px ;
}
.resycle{
    width: 30%;
    height: 300px;
    background-color: #074A33;
    border-radius: 0px 15px 15px 0px;
    display: flex;
}
.secondbar{
   display: flex;
    justify-content: center;
}
.thirdbar{
    display: flex;
    justify-content: center;
}
h3{
    color: white;
}
.texts1 p{
    margin-top: 65px;
    width: 60%;
}
.texts2 p{
    margin-top: 65px;
    width: 60%;
}
.lone1{
    height: 1px;
    width: 100%;
    background-color: black;
    margin-top: 24px;
}
.lone2{
    height: 1px;
    width: 100%;
    background-color: black;
}

.resycle:hover{
    box-shadow:5px 5px #18b17b;
}


.filter{
    display: flex;
    justify-content: center;
    text-align: center;
    
}

.filter-container{
    text-align: center;
    display: flex;
    width: 390px;
    align-items: center;
   border: solid greenyellow;
   padding: 10px 50px;
    margin-top: 60px;
    height: 50px;
    border-radius: 50px;
    
}
.filter-container a{
    text-decoration: none;
    text-align: center;
    margin-left: 15px;
}
.filter-container a:hover{
    color: greenyellow;
}

@media (max-width: 1100px) {
   
    .firstbar, .secondbar, .thirdbar{
        display: flex;
        flex-wrap: wrap;
    }
    .resycle{
        border-radius: 15px;
        width: 80%;
    }
}
